* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --mainColor: #043873;
    --buttonsColor: #4F9CF9;
    --extraColor: #FFE492;
    --imageContainer: #C4DEFD;
}

@font-face {
    font-family: 'DM Sans', sans-serif;
    src: url(../fonts/DMSans-Medium.ttf);
}


body {
    font-family: 'Inter', sans-serif;
    color: #212529;
}

header {
    background-color: var(--mainColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}

.container {
    max-width: 1480px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.frame375 {
    display: flex;
    align-items: center;
    gap: 60px;
}

.menu {
    display: flex;
    gap: 32px;
}

.menu li {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.menu li a {
    text-decoration: none;
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    line-height: 23px;
    transition: 0.9s;
}

.menu li a:hover {
    color: var(--extraColor);
}

.buttons {
    display: flex;
    gap: 24px;
}

.btn-login {
    color: var(--mainColor);
    font-size: 18px;
    font-weight: 500;
    padding: 18.5px 40px;
    border: none;
    background-color: var(--extraColor);
    border-radius: 8px;
}

.btn-free-trial {
    display: flex;
    align-items: center;
    background-color: var(--buttonsColor);
    font-size: 18px;
    padding: 18.5px 24px;
    border-radius: 8px;
    border: none;
    color: #fff;
}

.btn-free-trial img {
    margin-left: 10px;
}


/* hero section */

.hero-section {
    background-color: var(--mainColor);
    padding: 140px 0;
    background-image: url(../img/Element2.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.info {
    color: #fff;
}

.title-hero {
    font-family: 'Inter';
    font-size: 64px;
    font-weight: bold;
    line-height: 77px;
    letter-spacing: -0.02em;
}

.hero-text {
    font-family: 'Inter';
    font-size: 18px;
    letter-spacing: -0.02em;
    line-height: 30px;
    padding-top: 24px;
    padding-bottom: 40px;
}

.hero-img {
    width: 824px;
    height: 549px;
    background-color: var(--imageContainer);
}

/* work management */

.work-management {
    padding: 140px 0;
    position: relative;
}

.contents {
    position: relative; 
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.background-element {
    position:absolute;
    top: 17%;
    left: 0;
    z-index: 0;
}

@media (max-width: 1540px) {

    .background-element img {
        display: none;
    }
}

.background-element img {
    object-fit: cover;

}

.content {
    display: flex;
    align-items: center;
    gap: 60px;
}

.title {
    max-width: 672px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    letter-spacing: -0.02em;
    color: #212529;
    z-index: 1;
    position: relative;
}

.text {
    max-width: 672px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #212529;
    z-index: 2;
    padding-top: 24px;
    padding-bottom: 60px;
}

.btn-get-started {
    display: flex;
    align-items: center;
    background-color: var(--buttonsColor);
    font-size: 18px;
    padding: 20px 40px;
    border-radius: 6px;
    border: none;
    color: #fff;
}

.btn-get-started img {
    margin-left: 10px;
}

.image {
    width: 748px;
    height: 547px;
    background-color: var(--imageContainer);
    /* border: none; */
}

.title img {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 115px;
}

.title .elem1 {
    position: absolute;
    z-index: -1;
    top: 40px;
    width: 450px;
    position: absolute;
    left: 31.19%;
}

/* customise */

.customise .contents .content:first-child {
    background-color: var(--mainColor);
    width: 100%;
    gap: 100px;

}

.heading {
    max-width: 697px;
}

.title-customise {
    color: #fff;
    position: relative;
}

.text-customise {
    color: #FFFFFF;
    max-width: 697px;
}

.illustration {
    width: 686px;
    height: 479px;
    background-color: var(--imageContainer);
}


.title-customise img {
    z-index: -1;
    position: absolute;
    left: 24.41%;
    right: 16.79%;
    top: 64px;
    bottom: 34.09%;
}

.customise .contents {
    gap: 140px;
}

.customise {
    position: relative;
    overflow: hidden;
}

.customise .contents .content:first-child::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background-color: var(--mainColor);
    z-index: -2;
}

.customise .contents .content:first-child {
    position: relative;
    z-index: 1;
    padding: 140px 0; 
}


.customise .contents .content:last-child {
    padding-bottom: 140px;
}

/* pricing */

.container-center {
    max-width: 1480px; 
    width: 100%;
    margin: 0 auto; 
}

.pricing {
    padding: 140px 0;
}


.heading-price {
    max-width: 979px;
    margin: 0 auto;
    width: 100%;    
}

.title-pricing {
    max-width: 1480px;
    text-align: center;
}

.title-pricing img {
    position: absolute;
    z-index: -1;
    top: 58px;
    left: 49%;
}

.text-pricing {
    margin: 0 auto;
    text-align: center;
    max-width: 979px;
}

.price-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-board {
    padding: 40px 44px;
    border: 1px solid  var(--extraColor);
    border-radius: 10px;
}

.text-block {
    max-width: 384px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.name-price {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

.price {
    font-weight: 700;
    font-size: 36px;
}

.desc-price {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.02em;
}


.bullet-point ul {
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    gap: 28px;
    max-width: 384px;

}
.point  {
    list-style: none;
    display: flex;
    align-items: center;
}

.point img {
    padding-right: 19px;
}

.yellow-btn {
    background-color: transparent;
    border: 1px solid var(--extraColor);
    border-radius: 8px;
    color: #212529;
    padding: 16px 40px;
    text-align: center;
}

.p01 {
    background-color: var(--mainColor);
    color: #fff;
    border: none;
    padding-top: 80px;
    padding-bottom: 80px;
}   

.p01 .price {
    color: var(--extraColor);
}


/* your-work */


.your-work {
    background: url("../img/BACKGROUND2.svg") no-repeat, var(--mainColor);
    background-position: 0 -180px; 
    padding: 140px 0 140px; 
}
.text-block-work {
    display: flex;
    flex-direction: column;
    align-items: center;  
    color: #FFFFFF;
    z-index: 1;
}
.title-work {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    letter-spacing: -0.02em;
    z-index: 1;
    position: relative;
}

.elem-blue {
    position: absolute;
    top: 61px;
    left: 73%;
    z-index: -1;
}

.text-work {
    width: 1064px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
    z-index: 2;
    padding-top: 24px;
    padding-bottom: 60px;
}

/* your-data */

.your-data {
    padding: 140px 0;
}


.title-data img {
    position: absolute;
    top: 63px;
    left: 32%;
    z-index: -1;
}


/* sponsors */

.sponsors {
    padding: 140px 0;
}
.sponsors .container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1920px;
    width: 100%;
}

.title-sponsors {
    text-align: center;
    margin-bottom: 100px;
}

.title-sponsors img {
    position: absolute;
    top: 58px;
    left: 33%;
}

.images-sponsors {
    display: flex;
    justify-content: center;
    gap: 216px;
}

/* apps */

.apps {
    background-color: var(--mainColor);
    padding: 140px 0;   
    background-image: url(../img/Element3.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.content-apps {
    display: flex;
    gap: 100px;
}

.text-app {
    max-width: 798px;
    color: #fff;
}

.title-app {
    color: #fff;
} 

/* testimonial */

.testimonial {
    padding: 140px 0;
}

.wrap-item  {
    max-width: 391px;
}
 
.title-testimonial {
    max-width: 1480px;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.title-testimonial img {
    position: absolute;
    top: 30px;
    left: 63%;
}

.list-reviews {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-review {
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--buttonsColor);
    border-radius: 10px;
    color: #fff;
}

 .first{
    box-shadow: 15px 10px 50px rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
    color: #212529;
}

.first .text-review {
    border-bottom: 1px solid #212529;

}

.quote {
    margin-bottom: 32px;
}

.text-review {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.02em;
    padding-bottom: 40px;
    border-bottom: 1px solid #fff;
}

.name-box {
    display: flex;
    align-items: center;
    gap: 42px;
    margin-top: 60px;
}

.name-review {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.client-name {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #043873;
}

.client-text {
    line-height: 30px;
    letter-spacing: -0.02em;
}

.name-first {
    color: #212529;
}

.slider {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 60px;
}

.slider .ellipse:nth-child(2) {
    background-color: #043873;
} 

.ellipse {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #4F9CF9;
}

/* free-trial */

.free-trial {
    background-color: var(--mainColor);
    padding: 140px 0 32px;
}

.wrap-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 608px;
    color: #fff;
    gap: 40px;
    margin: 0 auto;
}

.title-trial {
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    text-align: center;
    letter-spacing: -0.02em;
    margin-bottom: 24px;
}

.text-trial {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.02em;
}

.app-icons {
    display: flex;
    gap: 40px;
}

/* footer */

footer {
    background-color: var(--mainColor);
    padding: 140px 0 32px;
    color: #fff ;
}

.info-table {
    display: flex;
    justify-content: space-between;
    margin-bottom: 67px;
}

.logo-desc {
    width: 205px;
}

.logo-text {
    width: 240px;
    margin-top: 15px;
    line-height: 30px;
    font: 18px;
    letter-spacing: -0.02em;
    color: #F7F7EE;
}

.info-footer {
    max-width: 205px;
}

.info-list li {
    list-style-type: none;
    padding-top: 15px;
}

.info-list li a {
    text-decoration: none;
    color: #fff;
}
.info-list li a:hover {
    color: #FFE492;
}

.try {
    max-width: 259px;
    color: #fff;
}

.try-text {
    padding: 23px 0;
}

button:hover {
    box-shadow: 0px 0px 41px 5px rgba(236, 214, 92, 0.2);
}


.line {
    background-color: #2E4E73;
    height: 1px;
    width: 100%;
}

.bottom {
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tems-and-condition {
    display: flex;
    align-items: center;
    gap: 60px;
}
.tems-and-condition ul  {
    display: flex;
    gap: 60px;
}
.tems-and-condition ul li  {
    list-style-type: none;
}


.language-box {
    display: flex;
    align-items: center;
}

.language-box img {
    margin-right: 6px;
}

.icons {
    display: flex;
    gap: 32px;
}

select {
    background-color: transparent;
    border: none;
    color: #fff;
    font-family: Inter;
    font-size: 1rem;
}

select:focus {
    background-color: transparent;
    border: none;
}

option {
    color: #043873;
    border-radius: 10px;
}
option:hover {
    background-color: #212529;
}


